@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Noto+Sans+Tamil&family=Outfit:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Noto+Sans+Tamil&family=Outfit:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@300&family=Catamaran:wght@300&family=Coiny&family=Kavivanar&family=Noto+Sans+Tamil&family=Outfit:wght@100&family=Tiro+Tamil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@200;300;400&family=Catamaran:wght@300&family=Coiny&family=Kavivanar&family=Noto+Sans+Tamil&family=Outfit:wght@100&family=Tiro+Tamil&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    background-color: #D8D9DA;
    width: 100vw;
    overflow-x: hidden;
}
html,body,h1,li,img,div,h2,p,h3{
    margin: 0;
    padding: 0;
}
/* navigation bar */
.landingpage{
    display: flex;
    flex-direction: column;
    background-color: #9288F8;
}
.nav {
    background-color: #D8D9DA;
    color: black;
    margin: 10px 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-radius: 10px;
  }

  .loho img {
    max-width: 100px;
    height: auto;
  }

  .loho h2 {
    margin: 0;
    padding-left: 10px;
    font-family: Coiny;
  }
  .loho{
    display: flex;
    align-items: center;
  }

  .menu-icon {
    display: none;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 40px;
    right: 10px;
  }

  .menu {
    list-style-type: none;
    padding: 0;
    display: flex;
  }

  .menu li {
    padding: 8px;
    margin-right: 3px;
    opacity: 1;
    transition: background-color 0.3s ease;
  }
  .menu li:hover{
    background-color: #9288F8;
    border-radius: 20px;
  }
  .menu li a{
    text-decoration: none;
    color: black;
    font-family: Arima;
    font-weight: 600;
  }
/* hamburger menu */
  @media screen and (max-width: 800px) {
    .menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 50%;
      right: 0;
      background-color: #D8D9DA;
      width: 250px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      z-index: 1;
    }

    .nav.active .menu {
      display: flex;
      border-radius: 10px;
    }

    .menu li {
      padding: 10px 20px;
      opacity: 1;
    }
    .menu li:hover{
        border-radius: 10px;
    }

    .menu-icon {
      display: block;
    }

    .nav.active .menu-icon {
      color: #fff;
    }
  }
.landingpage nav a i{
    margin-right: 5px;
}

.landingpage .college{
    padding: 10px;
    text-align: center;
    white-space: nowrap;
    font-family: Arima;
}
@media screen and (max-width: 420px) {
    .landingpage .loho h2 {
      font-size: 20px;
    }
  }
@media screen and (max-width: 490px) {
    .college{
        font-size: 0.7rem;
    }
}
/* Thirukural section */
.content{
    /* background-image: url("/media/banner1.jpg");
    object-fit: cover;
    object-position: center; */
    margin-top: 10px;
    background: linear-gradient(to bottom right, #9288F8, transparent);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    word-spacing: 7px;
    line-height: 25px;
    border-radius: 20px;
    font-family: Noto Sans Tamil;
    font-style: italic;
    font-weight: 600;
    color: rgb(212, 51, 11);
}
.content h3{
    font-style: normal;
    color: black;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    align-self: flex-start;
    font-family: Catamaran;
}
.content h3::first-letter{
    font-size: 3rem;
    font-family: Catamaran;
}
.content p{
    border-top: 2px solid #191D88;
    border-bottom: 2px solid #191D88;
    padding: 5px 10px 0 10px;
}
.content .ex{
  margin-top: 10px;
  border: 0px;
  align-self: flex-start;
  display: flex;
}
.content #explanation{
  margin-left: 20px;
  color: black;
  font-style: normal;
}
@media all and (max-width:500px) {
  .content p{
    font-size: 12px;
  }
}
.content::after{
  content: "";
  background-image: url('/media/valluvar.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 150px;
  height: 150px;
  position: absolute;
  right: 20px;
  top: 200px;
}
@media all and (max-width: 670px) {
  .content::after{
    content: "";
    background-image: url('/media/valluvar.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 70px;
    height: 100px;
    position: absolute;
    top: 250px;
  }  
}
@media all and (max-width: 460px) {
  .content::after{
    content: "";
    background-image: url('/media/valluvar.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 80px;
    position: absolute;
    top: 200px;
  }  
}
/* sections */
.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.images div{
    margin: 10px auto;
    /* border: 2px solid blue; */
}
.images .media{
    /* margin: 10px 10px; */
    border-radius: 20px;
    transition: 400ms;
}
.images .event{
    position: relative;
    display: inline-block;
}
.images .text{
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: rgba(15, 2, 2, 0.13); 
    padding: 10px; 
    text-align: center;
}
.images a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
}
.images img:hover{
    transform: scale(1.03);
}
/* footer section */
.footer{
    /* width: 100%; */
    margin-top: 10px;
    height: auto;
    background-color: #9288F8;
    border-top-left-radius: 50% 0%;
    border-top-right-radius: 70% 80%;
    padding: 10px;
    overflow-x: hidden;
}
.footer h2{
    padding: 10px 10px 0 10px;
    font-family: Catamaran;
    color: red;
}
.footer .socialmedia{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px 10px 0 0;
}
.footer .socialmedia a{
    flex: 1 1 150px;
    text-decoration: none;
    margin: 10px;
    color: black;
    font-family: Arima;
    font-weight: 600;
}
.footer .socialmedia a:hover{
    color: white;
}
.footer .socialmedia a i{
    margin-right: 5px;
    transition: 500ms;
    color: black;
}
.footer .socialmedia a i:hover{
    transform: rotateY(180deg);
}
.footer .mail{
    margin: 0 0 10px 0;
}
.footer .mail h2{
    margin-bottom: 10px;
    font-family: Catamaran;
}
.footer .mail a{
    margin-left: 10px;
    padding: 0 0 0 10px;
    color: black;
    text-decoration: none;
    font-family: Arima;
    font-weight: 600;
}
.footer .mail a i{
    margin-right: 5px;
    color: black;
    transition: 500ms;
}
.footer .mail a i:hover{
    transform: rotateY(180deg);
}

/* about section*/
.headingabout{
  text-align: center;
  margin-top: 10px;
  color: #C51605;
  font-weight: 500;
  font-family: Coiny;
}
.about {
    background-color: #D8D9DA;
    margin: 10px 0 10px 0;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.about .para{
    background-color: #9288F8;
    padding: 10px;
    width: 500px;
    height: auto;
    border-radius: 10px;
    line-height: 25px;
    text-align: left;
    font-family: Arima;
    font-weight: 600;
}